

<div class="dash-background";>

  <div>
    <h1><%= current_user.email %>'s Charts</h1>
  </div>
  <%# I have put a placeholder avatar here for now until we sort out the username %>
  <div class="avatar-container">
    <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/robsta76" />
    <p>Reset profile</p>
  </div>



<div class="banner-content">
    <%= image_tag 'bar chart.jpg', class:'bar-chart' %>
</div>
