<div class="dash-background" style="background:#96BAFF";>

  <div>
    <h1><%= current_user.email %>'s Dashboard</h1>
  </div>
  <%# I have put a placeholder avatar here for now until we sort out the username %>
  <div class="container">
    <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/robsta76" />
    <p>Reset profile</p>
  </div>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
