<div class="dash-background">

  <div>
    <h1>Rob's Dashboard</h1>
  </div>
  <%# I have put a placeholder avatar here for now until we sort out the username %>
  <div class="avatar-container">
    <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/robsta76" />
    <p>Reset profile</p>
  </div>

    <%# temp holder hard-coded for now   %>
  <div class="container circle-container"; >
    <div class="stats mb-3" style="font-size: 16px; height:120px; width: 120px; border-radius:50%; padding: 20px; background:aqua">
      <p>number of resets: 5</p>
    </div>
    <div class="stats mb-3" style="margin-bottom: 3rem; font-size: 16px; height:120px; width: 120px; border-radius:50%; padding: 20px; background:red">
      <p>stress before reset: 8</p>
    </div>
    <div class="stats mb-3" style="font-size: 16px; height:120px; width: 120px; border-radius:50%; padding: 20px; background:lime">
      <%= link_to charts_path, class:"charts-link" do %>
      <p>stress after reset: 4</p>
      <% end %>
    </div>
    <div class="stats mb-3" style="font-size: 16px; height:120px; width: 120px; border-radius:50%; padding: 20px; background:yellow">
      <p>average distance 5km</p>
    </div>
  </div>
  <div class="Diary mb-3" style="height:250px; background:silver">
    <p>Diary entries</p>
    <p>30th May- Ben's not around to help again!! </p>
    <p>31th May- Kitt keeps pestering me to do my flashcards..arrgh!!</p>
    <p>1st June- 901 always get more beers than 902, So unfair!!!</p>
    <p>4th June- Been nice to be away from work for a few days</p>
    <p>5th June- back to stress. Got a CSS headache!!</p>
  </div>
      <%# I have hard-coded diary entries for now %>
