<h1><%= current_user.email %>'s Dashboard</h1>

<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/robsta76" />
<p>Reset profile</p>

<%# temp holder %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="stats mb-3" style="height:123px; background:aqua">
      <p>number of resets</p>
      </div>
    </div>
    <div class="col-6">
      <div class="stats mb-3" style="height:123px; background:lime">
      <p>stress before reset</p>
      </div>
    </div>
    <div class="col-6">
      <div class="stats mb-3" style="height:123px; background:orange">
      <p>stress after reset</p>
      </div>
    </div>
    <div class="col-6">
      <div class="stats mb-3" style="height:123px; background:yellow">
      <p>average distance covered per reset</p>
      </div>
    </div>
    <div class="col-12">
      <div class="Diary mb-3" style="height:123px; background:white">
      <p>Diary entries</p>

      </div>
    </div>
  </div>
</div>
