
  <div class="container">
    <div class = "topbar">
      <div class="logo">
          <img src="assets/logo.png" alt="Reset logo">
      </div>
      <div class="search">
          <input type="text" id="search" placeholder="search here">
          <label for="search"><i class="fas fa-search"></i></label>
      </div>
      <div class="user">
        <%= image_tag "Rob.jpeg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </div>
    </div>
    <div class="" style="height: 70px;"></div>
    <div class="">
      <div class="cards">
        <div class="card">
          <div class="card-content">
            <div class="number">5</div>
            <div class="card-name">Resets</div>
          </div>
          <div class="icon-box">
            <!-- <i class="fas fa-user"> needs changing -->
            </i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">7</div>
            <div class="card-name">Stress Level</div>
          </div>
          <div class="icon-box">
            <!-- <i class="fas fa-user"> needs changing -->
            </i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">5</div>
            <div class="card-name"> Reviews</div>
          </div>
          <div class="icon-box">
            <i class="fa-solid fa-book-user"></i>
            </i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="number">5</div>
            <div class="card-name">Diary Entries</div>
            <a href="http://localhost:3000/diary">show diary</a>
          </div>
          <div class="icon-box">
            <i class="fa-solid fa-notebook"></i>
            </i>
          </div>
        </div>
      </div>
      <div class="charts">
        <div class="chart">
          <h2>Stress Level before walk</h2>
          <canvas id="lineChart"></canvas>
        </div>

      </div>
    </div>
  </div>
  <div class="" style="height: 85px;"></div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
  <script src="chart1.js"></script>
