<div class="banner" style="background-image: url(<%= asset_path('home.jpg')%>">
  <div class="banner-content">
    <img class="reset-logo"src="assets/logo.png" alt="">
    <h2><strong>Reset</strong> your mind</h2>
  </div>
  <div class="search_bar">
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
      <div class="search-form-control form-group">
        <input class="form-control string required" placeholder="Enter postcode" type="text" name="search[query]" id="search_query" />
      </div>
    </form>
  </div>
</div>
