


 <div id="map"></div>

  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoia28wbGs0dDEiLCJhIjoiY2wzZDN4aTNrMDA0azNjbDBham03YnlodSJ9.dLi-qnAJxCgRncDTZ6yLiQ';
    const map = new mapboxgl.Map({
      container: 'map', // Specify the container ID
      style: 'mapbox://styles/mapbox/light-v10', // Specify which map style to use
      center: [-84.5, 38.05], // Specify the starting position [lng, lat]
      zoom: 11 // Specify the starting zoom
    });
  </script>
