.navbar-button  {
  //font-size: 15px;
  flex-grow: 0;
}

.navbar-icon {
  font-size: 25px;
  //padding-right: 40px;
  color: white;
}

.navbar-icon:hover {
  font-size: 28px;
  //padding-right: 40px;
}

.btn-gradient {

  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  // background: linear-gradient(#167FFB, #0F60C4);
  // transition: background 0.3s ease;
  // border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  // background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-search{
  color: white;
  background-color: rgb(124,131,253);
  border-radius: 3px;
}

.logo-walk-show{
  height: 30px;
  width: 30px;
}

.btn-show {
  margin-top: 80px;
  margin-left: 23%;
  margin-right: auto;
  margin-bottom: 50px;
}

.rounded-corners {
  border-radius: 15px 15px;
  background-color: #ead87bad;
  border: 1px solid #edb014;
}
