.navbar-button  {
  //font-size: 15px;
  flex-grow: 0;
}

.navbar-icon {
  font-size: 25px;
  //padding-right: 40px;
  color: white;
}

.navbar-icon:hover {
  font-size: 28px;
  //padding-right: 40px;
}
