.card-index {
  overflow: hidden;
  background: rgb(239, 239, 239);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  margin:10px 35px;
}

.card-index > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-index .card-index-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: black;
}

// .card-index-rating {
//   color: black;
//   background-color: white;
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }



// .card-index-infos .card-index-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
