.card-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin:10px 5px;//35px;
}

.index-logo {
  width: 50px;
  height: auto;
}

.card-index > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-index .card-index-infos {
  padding: 14px 8px 4px 8px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  position: relative;
  color: black;
}

.card-index-rating {
  color: black;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .card-index-infos h6 {
//   text-align: end;
//   padding-right: 10px;
//   padding-top: 5px;
// }


.card-trip-user {
  position: absolute;
  right: 3px;
  top: -196px;
  // width: 40px;
  background-color: #F3F6F7;
  color: black;
}

.card-trip-user p {
  font-size: 10px;
  font-weight: 600;
}



.avatar-bordered {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.index-margin {
  margin-bottom: 75px !important;
}
