h1{
  color:rgb(28, 25, 240)
}

.avatar-container{
  background:#96BAFF;
}

.col-6{
  padding:20px;
  display:inline-block;
  justify-content: center;
  align-items: flex-start;
}

.circle-container{
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
