
/* search bar, logo and profile icon styling */
.margin-dashboard {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family:sans-serif;

}

.topbar {
  position: fixed;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 70px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 2fr 10fr 0.4fr 1fr;
  align-items: center;
  z-index: 1;
  left: 0;
}

.logo img{
  height: 50px;
  width: 50px;
  margin-bottom: 0px;
}

.topbar h2{
  text-align: center;
  margin-right: 40px;
  margin-top: 3px;
  padding-left: 54px;
}


.user {
  position: relative;
  width: 53px;
  height:55px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border: 2px solid #CCC;
  margin-bottom: 2px;
  margin-left: 220px;
}

.user i{
  margin: 10px;
  margin-right: 5px;
}

/* Main section */
.main{
  position: absolute;
  top: 60px;
  width: calc(100% - 260px);
  left: 260px;
  min-height: calc(100vh - 60px);
  background: #f5f5f5;
}

.cards-dashboard{
  width: 100%;
  padding: 8px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.cards-dashboard .card{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.number{
  font-size: 35px;
  font-weight: 500;
  color: #299b63;
  text-align: center;
}

.card-name{
  color: #888;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.icon-box i{
  font-size: 45px;
  color: #299b63;
}

/* charts */
.charts{
  width: 100%;
}

.chart{
  padding: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(88, 88, 88, 0.2);
  border: 1px #48d1cc;
}

.chart h2{
  margin-bottom: 5px;
  font-size: 20px;
  color: #666;
  text-align: center;
}

.line-chart{
  padding: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  border: 1px #48d1cc;
  padding-top: 20px;
  margin-top: 40px;
  background: #fff
}

.pie-chart{
  box-shadow: 0 7px 25px;
  border: 1px #48d1cc;
  border-radius: 15px;
  padding: 50px;
  box-shadow: 0px 3px 15px rgba(88, 88, 88, 0.2);
  background: #fff;
}

/* responsiveness */

@media (max-width:500px){
  .dsidebar {
    width: 60px;
  }
  .main{
    left: 60px;
    width: calc(100% - 60px);
  }
}

@media (max-width:880px){
  .cards-dashboard{
    grid-template-columns: repeat(2, 1fr);
  }
  .charts{
    grid-template-columns: 1fr;
  }
}

@media (max-width:880px) {
  .topbar {
    grid-template-columns: 1fr 5fr 0.4fr 1fr;
  }
    .cards-dashboard {
      grid-template-columns: 1fr;
    }
    .logo h2{
        font-size: 20px;
    }
    .search {
      width: 80%;
    }
    .search input{
      padding: 0 20px;
    }
    .fa-bell{
      margin-right: 5px;
    }
    .user{
      width: 40px;
      height: 40px;
    }
  }
