.simple_form {
  // margin-top: 100px;
}

.category-stress {
  text-align: center;
}

.form-container {
  //border: 1px solid rgb(21, 131, 186);
  height: 78vh;
  padding: 10px;
  margin: 3px;
  margin-top: 25px;


  // margin-top: 150px;

  // height: 200px;
  // border: 3px solid green;
}

.form-walk {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.string {
  font-size: 20px;
}
.col-form-label {
  font-size: 20px;
  text-align: center;
  display: none;
}
