.simple_form {
  padding: 25px;
  margin-top: 200px;
}

.category-stress {
  text-align: center;
}

.form-container {
  //border: 1px solid rgb(21, 131, 186);
  padding: 20px;
  margin: 20px;
  height: 100vh;
}

.string {
  font-size: 20px;
}
.col-form-label {
  font-size: 20px;
  text-align: center;
}
