<div class="container">
  <% @greenspaces.each do |greenspace| %>
    <div class="card-product">
       <% link_to 'park', greenspace_path(greenspace) %>
      <%= image_tag greenspace.photo, style: 'width:150px;', class:'float-start' %>

      <div class="card-product-infos">
        <p>"<%=  greenspace.name %>"</p>
        <p><%=  greenspace.location %></p>
        <p>rating: <%= greenspace.average_rating %></p>
      </div>
    </div>
  <% end %>
</div>
