// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
// @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

// Your CSS partials
@import "components/index";
@import "pages/index";


.main-container {
  background: rgb(2,0,36); background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(255, 255, 255) 0%, rgb(244, 246, 247) 0%, rgb(229, 233, 234) 100%, rgb(225, 236, 238) 100%);
  margin: 0 auto 60px auto;
  padding-top: 20px;
  overflow: scroll;
}
